<footer class="footer" [ngClass]="{ hidden: noCardsClass$ | async }">

  <span class="card-count">
    <strong>{{activeCount$ | async}} {{activeCountLabel$ | async}}</strong>
  </span>

  <ul class="filters">
    <li>
      <a
        href="/"
        [ngClass]="{selected : (activeFilter$ | async) === FilterEnum.all}"
        (click)="changeFilter($event, FilterEnum.all)"
      >
        All
      </a>
    </li>
    <li>
      <a
        href="/"
        [ngClass]="{selected : (activeFilter$ | async) === FilterEnum.active}"
        (click)="changeFilter($event, FilterEnum.active)"
      >
        Active
      </a>
    </li>
    <li>
      <a
        href="/"
        [ngClass]="{selected : (activeFilter$ | async) === FilterEnum.completed}"
        (click)="changeFilter($event, FilterEnum.completed)"
      >
        Completed
      </a>
    </li>

  </ul>

</footer>
